<a
    href="{{ url ('task.list') }}?sort_type=created_at"
    class="btn btn-primary"
    aria-current="page"
>
    By creating
</a>

<a
        href="{{ url ('task.list') }}?sort_type=updated_at"
        class="btn btn-primary"
>
    By updating
</a>

<a
        href="{{ url ('task.list') }}?sort_type=only_done"
        class="btn btn-primary"
>
    Only done
</a>

<a
        href="{{ url ('task.list') }}?sort_type=only_in_progress"
        class="btn btn-primary"
>
    Only in progress
</a>
{% if request.user.is_authenticated %}
    <a
            href="{{ url ('task.list') }}?sort_type=filter_by_user&user_username={{ request.user.username }}"
            class="btn btn-primary"
    >
        Mine
    </a>
{% endif %}