{% extends "task/index.jinja" %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <br><br>
    <h3 style="text-align: center;">Всего: {{ tasks.count() }}</h3>
    <br>
    <div class="container">
        <div class="mb-3 col-11 col-sm-9 col-md-9 col-lg-9 col-xl-9" style="margin: 0 auto;">
            <div class="btn-group d-none d-sm-block">
                {% include "task/task_buttongroup.jinja" %}
            </div>

            <div class="btn-group-vertical d-sm-none" style="width: 100%;">
                {% include "task/task_buttongroup.jinja" %}
            </div>

            <br><br><br>

            {% for task in tasks %}
                <div class="card border-info text-dark">
                    <div class="card-header" style="font-size: 14pt;">{{ task.user.username }}</div>
                    <div class="card-body">
                        <a href="{{ url('task.detail', args=[task.id]) }}" class="text-dark">
                            <h5 class="card-title">{{ task.name }}</h5>
                            <p class="card-text">{{ task.content }}</p>
                        </a>
                    </div>
                    <div class="card-footer bg-transparent border-info">
                        State: {% if task.is_done %}done.{% else %}in progress.{% endif %}
                    </div>
                </div>
                <br><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
